// Angular Material theming for theredhead
@use '@angular/material' as mat;

// Include the common styles for Angular Material
@include mat.core();

// Define a custom theme
$theredhead-primary: mat.define-palette(mat.$blue-palette, 500);
$theredhead-accent: mat.define-palette(mat.$indigo-palette, A200, A100, A400);
$theredhead-warn: mat.define-palette(mat.$red-palette);

$theredhead-theme: mat.define-light-theme(
  (
    color: (
      primary: $theredhead-primary,
      accent: $theredhead-accent,
      warn: $theredhead-warn,
    ),
  )
);

// Include theme styles for core and each component
@include mat.all-component-colors($theredhead-theme);
